@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark-mode {
  background-color: white;

}

button{
  font-family:Nuosu SIL ;
  padding: 10px;
  font-size: 20px;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
.text-gradient {
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  color: darkblue;
}
@supports (--css: variables) {
  .text-gradient {
    background: linear-gradient(to right, darkblue, darkorchid);
    color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
  }
}
.text-gradient::-moz-selection {
  color: white;
  background: darkorchid;
}
.text-gradient::selection {
  color: white;
  background: darkorchid;
}

h1 {
  
  font-size: 50px;
  font-family: 'Nuosu SIL', serif;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  background: #131419;
}

.clock {
  background: #131419;
  height: 120px;

  line-height: 120px;
  text-align: center;
  padding: 0 30px;
  box-shadow: -3px -3px 7px rgba(255, 255, 255, 0.05),
    3px 3px 5px rgba(0, 0, 0, 0.5);
}

.clock .display {
  padding: 0%;
  height: auto;
  color: rgb(50, 255, 101);
  border-radius: 12px;

  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 1.5s linear infinite;
  font-size: 60px;
  color: cyan;
  letter-spacing: 5px;
  font-family: 'Orbitron', sans-serif;
}
